#inner
	font-family: fantasy;
}
	#zdjecie1 img{
	box-shadow:0 0 0.5em 0.5em #333;
	width: 100%;

	
}

/*parametry body-całej strony (elementy, które nie mają określonych konkretnych wartości dziedziczą te, przypisane do "body")*/
	 body {
	background-color: #A6948A;
	color: #000;
	margin: 2%;
	text-align: center;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;

}

/*parametry nagłówka*/
#NAGLOWEK {
	background-color: #A6948A;
	width: auto;
	font-style: oblique;
	color: #F2F2EB;	
}
/*parametry menu (ol-dotyczy głównych działów menu, ul-dotyczy podrozdziałów menu)*/
.MENU_GLOWNE {
	width: 20%;
	height: 905px;
	float: left;
	overflow: hidden;
	background-color: #D9C8B4;
	display: block;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
ol {
	display: block;
	list-style: none;
	margin: 5px;
	padding: 2px;
}

ul li {
	display: block;
	list-style: none;
	margin: 5px;
	padding: 2px;
}
ol  a:link, ol a:visited {
	display: block;
	width: 90%;
	text-decoration: none;
	background-color: #A6948A;
	color: #000;
	padding: 2px;
	border: #ccc;
	
}

ol a:hover {
	border-style:dotted;
	padding: 5px 3px 3px 5px;

}
ul a:link, ul a:visited {
	display: block;
	width: 80%;
	text-decoration: none;
	background-color: #F2F2EB;
	color: #000;
	padding: 2%;
	border: #ccc;
}

ul a:hover {
	border-style: inset;
	padding: 5px 3px 3px 5px;
}
/*parametry treści strony*/
.strona {
	width: 80%;
	overflow: hidden;
	font-family: Times;
	color: #26100E;
	background-color: #F2F2EB;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	margin-bottom: 2%;
	text-align: center;

}

span {
	font-weight: bold;
	text-decoration: underline;
}
table {
	text-align: center;
	float: center;
	margin-left: 25%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: #F2F2F2;

	
}

#slider {
	height:400px;
	width:650px;
	margin: 50px auto;
	position:relative;
	border-radius:4px;
	overflow:hidden;
	}
#image {
	height:400px;
	width:650px;
	position:absolute;
	left: 20px;
	
	}
.left_hold {
	height: 400px;
	width: 100px;
	position: absolute;
	top: 0px;
	left: 20px; 
}
.right_hold {
	height: 400px;
	width: 100px;
	position: absolute;
	top: 0px;
	right: 20px;
}
.left {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	left:20px;
	opacity:0;
	transition: all .2s ease-in-out 0s;
	}
.right {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	right:20px;
	opacity:0;
	transition: all .5s ease-in-out 0s;
	}
.left_hold:hover .left {
	opacity:0.6;
	}
.right_hold:hover .right {
	opacity:0.6;
}
.left:hover .left1

#formularz {
	height: 600px;
	weight:400px;
	margin: auto;
}
/*parametry stopki*/
#STOPKA {
	clear: both;
	width: 100%;
	background-color: #D9C8B4;
}

#contact {
    height: 80px;
    width: 130px;
    border-radius: 5px;
    background-color: #D9C8B4;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    opacity: 0.5;
    margin-left: 50%
}

